@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css2?family=Glory:wght@600&display=swap');

body{
    background: #0f0f0f;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Glory', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}